.adm-cascader-view {
  --height: auto;

  &-tabs {
    &.adm-tabs {
      --title-font-size: 14px;
      --content-padding: none;
    }
  }

  &-header {
    &-title {
      max-width: 84px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-content {
    height: var(--height);
    box-sizing: border-box;

    &.am-list {
      --border-inner: none;
      --border-bottom: none;
      --border-top: none;
      overflow-y: auto;

      .am-list-body {
        border: none;

        .am-list-item {
          & > .am-list-item-line {
            & > .am-list-item-content {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  &-item {
    font-size: 14px;

    &-active {
      color: var(--adm-color-primary);
    }
  }

  .adm-list-inner {
    margin-bottom: 0;
  }
}
