<template>
  <div>
  </div>
</template>
<script lang="ts">
  import {{{name}}} from '../../src';
  import {defineComponent} from 'vue';

  export default defineComponent({
    setup() {
      return {};
    }
  });
</script>
<style lang="less" scoped>
</style>
